[Desktop Entry]
Name=Test
Comment=A dummy plugin for testing
Icon=preferences-desktop-color

Type=Service
X-KDE-ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_test
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-HasConfigurationInterface=true
