[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-RootPath]
Type=QString

[PropertyDef::X-Plasma-MainScript]
Type=QString

[PropertyDef::X-Plasma-ContainmentType]
Type=QString

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList

[PropertyDef::X-Plasma-DropUrlPatterns]
Type=QStringList

#TODO KF6: this should become a bool again
#is a string due to wrong checking in systray client code X-Plasma-NotificationArea == "true"
[PropertyDef::X-Plasma-NotificationArea]
Type=QString

[PropertyDef::X-Plasma-NotificationAreaCategory]
Type=QString

[PropertyDef::X-Plasma-DBusActivationService]
Type=QString

[PropertyDef::X-KDE-ParentApp]
Type=QString

[PropertyDef::X-Plasma-Provides]
Type=QStringList

[PropertyDef::X-Plasma-PreloadWeight]
Type=int

[PropertyDef::X-Plasma-ConfigPlugins]
Type=QStringList

[PropertyDef::X-Plasma-StandAloneApp]
Type=bool

[PropertyDef::X-Plasma-RequiredExtensions]
Type=QStringList

[PropertyDef::NoDisplay]
Type=bool
